{% extends 'baseBack.html.twig' %}

{% block title %}Liste des points des relais{% endblock %}

{% block body %}
 <h1>Liste des points des relais</h1>

   

    <table class="table">
        <thead>
            <tr>
                <th>Id Pointderelais</th>
                <th>adresse Pointderelais</th>
                <th>region</th>
                <th>horaire</th>
                <th>EtatLivraison</th>
            </tr>
        </thead>
        <tbody>
        {% for pointderelais in pointderelaiss %}
            <tr>
                <td>{{ pointderelais.idPointderelais }}</td>
                <td>{{ pointderelais.adressePointderelais }}</td>
                <td>{{ pointderelais.region }}</td>
                <td>{{ pointderelais.horaire }}</td>
                 <td>{{ pointderelais.fkIdLivraisonp.etatLivraison}} </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_cons_stat') }}"><button type="button" class="btn btn-primary mb-3">stats</button></a>

    
{% endblock %}
