<<<<<<< HEAD
{% extends 'baseback.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
<input type="text" class="form-control" id="searchInput" placeholder="Search&hellip;">

<br>
<script>
        function filterTable() {
            const filter = document.getElementById('searchInput').value.toUpperCase();
            const rows = document.querySelectorAll('table tr');
            for (let i = 1; i < rows.length; i++) {
                const cols = rows[i].querySelectorAll('td');
                let visible = false;
                for (let j = 0; j < cols.length; j++) {
                    const cell = cols[j];
                    if (cell.innerText.toUpperCase().indexOf(filter) > -1) {
                        visible = true;
                        break;
                    }
                }
                rows[i].style.display = visible ? '' : 'none';
            }
        }
        document.getElementById('searchInput').addEventListener('keyup', filterTable);
    </script>

    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdProduit</th>
                <th>PrixProduit</th>
                <th>TypePaiement</th>
                <th>TypeProduit</th>
                <th>DescriptionProduit</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.idProduit }}</td>
                <td>{{ produit.prixProduit }}</td>
                <td>{{ produit.typePaiement }}</td>
                <td>{{ produit.typeProduit }}</td>
                <td>{{ produit.descriptionProduit }}</td>
                <td>{{ produit.image }}</td>
                <td>
                    <a href="{{ path('app_produit_front_show', {'idProduit': produit.idProduit}) }}">show</a>
                    <a href="{{ path('app_produit_front_edit', {'idProduit': produit.idProduit}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_front_new') }}">Create new</a>
{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/bochr/EspritClub2/src/Controller/ProduitController.php'|file_link(0) }}">src/Controller/ProduitController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/bochr/EspritClub2/templates/produit/index.html.twig'|file_link(0) }}">templates/produit/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
>>>>>>> 8e2d5ae6251d16e7cfd86071e560d1d445a48627
