<<<<<<< HEAD
{% extends 'baseBack.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
   

    <table class="table">
        <thead>
            <tr>
                <th>IdCommande</th>
                <th>NbrProduit</th>
                <th>Total</th>
                
                
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
               <td>{{ commande.idCommande }}</td>
                <td>{{ commande.nbrProduit }}</td>
                <td>{{ commande.total }}</td>
                <td>{{ commande.fkIdLivraison }}</td>
                 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
=======
{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/bochr/EspritClub2/src/Controller/CommandeController.php'|file_link(0) }}">src/Controller/CommandeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/bochr/EspritClub2/templates/commande/index.html.twig'|file_link(0) }}">templates/commande/index.html.twig</a></code></li>
    </ul>
</div>
>>>>>>> 8e2d5ae6251d16e7cfd86071e560d1d445a48627
{% endblock %}
