{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pointderelais</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPointderelais</th>
                <td>{{ pointderelai.idPointderelais }}</td>
            </tr>
            <tr>
                <th>AdressePointderelais</th>
                <td>{{ pointderelai.adressePointderelais }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ pointderelai.region }}</td>
            </tr>
            <tr>
                <th>Horaire</th>
                <td>{{ pointderelai.horaire }}</td>
            </tr>
             
            
        </tbody>
    </table>

    <a href="{{ path('app_pointderelais_front_index') }}">back to list</a>

    <a href="{{ path('app_pointderelais_front_edit', {'idPointderelais': pointderelai.idPointderelais}) }}">edit</a>

    {{ include('pointderelais_front/_delete_form.html.twig') }}
{% endblock %}