<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} Pidev swap {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{asset('front-office/img/favicon.png')}}" rel="icon">
  <link href="{{asset('front-office/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 {% block css%}
  <!-- Vendor CSS Files -->
  <link href="{{asset('front-office/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('front-office/css/style.css')}}" rel="stylesheet">
{% endblock %}


{% block js %}
<!-- Vendor JS Files -->
  <script src="{{asset('front-office/vendor/aos/aos.js')}}"></script>
  <script src="{{asset('front-office/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{asset('front-office/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('front-office/js/main.js')}}"></script>
  {% endblock %}

 
</head>

<body>

{% block header %}
  <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="/home">SWA<span>P</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->
  
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Acceuil</a></li>
            <li><a class="nav-link scrollto" href="#about">A propos </a></li>
            <li><a class="nav-link scrollto" href="#services">Produits </a></li>
            
            <li class="dropdown"><a href="#"><span>Services </span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="{{ path('app_categorie_indexFront') }}">Categorie</a></li>
                <li><a href="{{ path('app_service_indexFront') }}">Service</a></li>
                
              </ul>
            </li>


<li class="dropdown"><a href="#"><span>Feedback </span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/feedbackFront">Services</a></li>
                <li><a href="/feedbackpFront">Produits</a></li>
                
              </ul>
            </li>
            
          </ul>
          
  
        <a href="/userFront/{{ app.user.id }}" class="nav-link scrollto">Profile</a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <a class ="row justify-content-center " style="color: #A51111;" href="{{ path('app_logout') }}">Logout</a>
        
        </nav><!-- .navbar -->
      </div>
    </header><!-- End Header -->
  {% endblock %}
  

    <!-- ======= main Section ======= -->
    
  <main id="main">

    <!-- ======= profile Section ======= -->
    <section id="" class="profile section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
        <br>
          <h2></h2>
          
          {% block body %}
          {% endblock %}
        </div>
        </div>
    </section><!-- End profile Section -->


  </main><!-- End #main -->

{% block footer %}
  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>SWAP</h3>
            <p>
              United Coders <br>
              Esprit Ingénieur <br>
              Ariana, Tunisie <br><br>
              <strong>Téléphone:</strong> +216 55666495<br>
              <strong>Email:</strong> shop@swap.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Consulter</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Acceuil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">A propos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Produits </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Echange</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Consulter</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Produits</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Réclamation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Livraison</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Compte</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Réseaux Sociaux</h4>
            <p>Pour plus d'informations contactez nous à nos pages sur les réseaux sociaux :</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>SWAP</span></strong>. With LOVE 
      </div>
      
    </div>
  </footer><!-- End Footer -->
  {% endblock %}
 


</body>

</html>