<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} Pidev swap {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{asset('front-office/img/favicon.png')}}" rel="icon">
  <link href="{{asset('front-office/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 {% block css%}
  <!-- Vendor CSS Files -->
  <link href="{{asset('front-office/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('front-office/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('front-office/css/style.css')}}" rel="stylesheet">
{% endblock %}


{% block js %}
<!-- Vendor JS Files -->
  <script src="{{asset('front-office/vendor/aos/aos.js')}}"></script>
  <script src="{{asset('front-office/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{asset('front-office/vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{asset('front-office/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{asset('front-office/js/main.js')}}"></script>
  {% endblock %}

 
</head>

<body>

{% block header %}
  <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">SWA<span>P</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->
  
      </div>
    </header><!-- End Header -->
  {% endblock %}
  

    <!-- ======= main Section ======= -->
    
  <main id="main">


          {% block body %}
          {% endblock %}


  </main><!-- End #main -->

</body>

</html>