{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<<<<<<< HEAD
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
=======


{{ form_widget(form.objectif,{ 'attr':{'class':'form-control col-md-4','placeholder':'objectif *'}}) }}
{{ form_errors(form.objectif) }}

    {{ form_widget(form.text,{ 'attr':{'class':'form-control col-md-4','placeholder':'text *'}}) }}
{{ form_errors(form.text) }}

 


{{ form_rest(form) }}
<div class="col-md-offset-5" > <button class="btn btn-primary mt30 btn-black ">{{ button_label|default('Save') }}</button> </div>

>>>>>>> 8e2d5ae6251d16e7cfd86071e560d1d445a48627
{{ form_end(form) }}