<table >
        <thead>
            <tr>
                <th>IdLivraison</th>
                <th>DateLivraison</th>
                <th>PrixLivraison</th>
                <th>AdresseLivraison</th>
                <th>EtatLivraison</th>
                <th>Livreur</th>
                
            </tr>
        </thead>
        <tbody>
        {% for liv in livraison %}
            <tr>
                <td>{{ liv.idLivraison }}</td>
                <td>{{ liv.dateLivraison ? liv.dateLivraison|date('Y-m-d') : '' }}</td>
                <td>{{ liv.prixLivraison }}</td>
                <td>{{ liv.adresseLivraison }}</td>
                <td>{{ liv.etatLivraison }}</td>
                <td>{{ liv.fkIdLivreur.nom }} {{ liv.fkIdLivreur.prenom }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>